---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Niels",
  country: "the Netherlands",
  occupation: "Web Developer",
  hobbies: ["writing", "reading", "trail running"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "lightblue";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <h1>{pageTitle}</h1>
    <Header />
    <h2>I am Niels Louwes and I am learning about Astro.</h2>
    <p>
      I am currently working through the tutorial and I am now learning how to
      create new pages.
    </p>
    <p>There will be more and more content as I work through the tutorial.</p>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}
      </li>
      {
        identity.hobbies && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[2]}
          </li>
        )
      }
    </ul>
    {
      skills.length > 0 && (
        <>
          <p>My skills are:</p>
          <ul>
            {skills.map((skill) => (
              <li class="skill">{skill}</li>
            ))}
          </ul>
        </>
      )
    }

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </main>
</Layout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
